*{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  background: var(--primary-color);
  color: var(--third-color);

}
#header{
  width: 100%;
  height: 100vh;
  background-image: url(background1.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;  
}
.container{
  padding:0px;    
  

}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: var(--forth-color);
  /*background-image: linear-gradient(to top, rgba(255,0,0,0), rgba(29,27,31,1));*/
  padding:0px 5%;
  
}
.logo{
  width: 160px;
}
nav ul{
  flex: 1;
  text-align: right;
}
nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}
nav ul li a{
  color: #fff;
  text-decoration: none;
  text-shadow: 1px 1px 4px var(--forth-color), 2px 2px 50px var(--forth-color);
  font-size: 20px;
  font-weight: 500;
  font-style: 'Open Sans';
  position: relative;
}
nav ul li a::after{
  content: '';
  width: 0;
  height: 3px;
  background: #559dcf;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}
nav ul li a:hover::after{
  width:100%;
}
:root{
  --primary-color: #daebf5;
  --secondary-color: #011352;
  --third-color: #011352;
  --forth-color: #45a6ed;
  --fifth-color: #0AA1DD;
  --sixth-color: #094d7e;
  --seventh-color: #45a6ed;
  --eight-color: #a7cbe8;
  --ninth-color: #162f6d;
  --tenth-color: #45a6ed;    
  --special-color: rgb(255, 255, 255, 0.6);
}
#icon{
  width: 30px;
  cursor: pointer;
}
.header-text{
  padding: 0px 10%;
  margin-top: 17%;
  font-size: 25px;
}
.header-text h1 {
  font-size: 45px;
  margin-top: 20px;
  color: #fff;
  text-shadow: 2px 2px 4px #1f2a51, 2px 2px 50px #1f2a51;
}

.header-text h1 span{
  color: #05192d;
  text-shadow: 2px 2px 4px #083a6b, 2px 2px 50px #083a6b;
}

.header-text p {
  color: #fff;
  font-weight: 500;
  text-shadow: 2px 2px 4px #1f2a51, 2px 2px 50px #1f2a51;
}
.code-container, .result-container {
  display: inline-block;
  vertical-align: center;
  margin: 10px;
}


/*----------about----------*/
#about{
  padding: 80px 10%;
  color: var(--secondary-color);
}
.row{
  line-height: 1.5em;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about-col-1{
  flex-basis: 35%;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
}
.about-col-1 img{
  width: 90%;
  border-radius: 15px;
}
.about-col-2{
  margin-top: 10px;
  flex-basis: 60%;
}
.about-col-2 p{
  font-size: 18px;
}
.about-col-2 p a{
  text-decoration: none;
  color: #0554a2;
}
.sub-title{
  font-size: 40px;
  font-weight: 600;
  color: var(--third-color);
}
.tab-titles{
  display: flex;
  margin: 20px 0 30px;
}
.tab-titles i{
  margin-right: 5px;
}
.tab-links{
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}
.tab-links::after{
  content: '';
  width: 0;
  height: 3px;
  background: #0554a2;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}
.tab-links.active-link::after{
  width: 50%;
}
.tab-contents ul li{
  margin: 10px 0;
}
.tab-contents ul li span{
  color: #0554a2;
  font-size: 17px;
}
.tab-contents{
  display: none;
}
.tab-contents.active-tab{
  display: block;
}
/*--------services---------*/
#services{
  padding: 30px 10%;
}
.container h1{
  font-size: 40px;
}
.services-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}
.services-list div{
  background: var(--tenth-color);
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 10px;
  transform: 0.5s;
  transition: 0.5s;
}
.services-list div i{
  color: #fff;
  font-size: 45px;
  margin-bottom: 30px;
}
.services-list div h2{
  color: #fff;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}
.services-list div p{
  color: #fff;
}
.services-list div a{
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  margin-top: 20px;
  display: inline-block;

}
.services-list div:hover{
  background: var(--ninth-color);
  transform: translateY(-10px);
}
/*------portfolio---------*/
#portfolio{
  padding: 50px 10%;
}
.container h1{
  font-size: 40px;
}
.work-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}
.work{
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.work img{
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}
.layer{
  width: 100%;
  height: 0%;
  background: linear-gradient(var(--special-color), #1E3E90);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 14px;
  transition: height 0.5s;
}
.layer h3{
  color: #fff;
  font-weight: 500;
  margin-bottom: 20px;
}
.layer p{
  color: #fff;
}
.layer a{
  margin-top: 20px;
  color: #0554a2;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  background: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
}
.work:hover img{
  transform: scale(1.1);
}
.work:hover .layer{
  height: 100%;
  border-radius: 10px;
}
.btn{
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid #0554a2;
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: var(--third-color);
  transition: 0.5s;
}
.btn:hover{
  color: #fff;
  background: #0554a2;
}
/*----------contact----------*/
#contact{
  padding: 0 10%;
}
.contact-left{
  flex-basis: 35%;
}
.contact-left h1{
  font-size: 40px;
}
.contact-right{
  flex-basis: 60%;
}
.contact-left p{
  margin-top: 30px;
}
.contact-left p i{
  color: #1E48B0;
  margin-right: 15px;
  font-size: 25px;
}
.contact-left span{
  margin-right: 15px;
  font-size: 30px;
}
.social-icons{
  margin-top: 30px;
}
.social-icons a{
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: #558EFE;
  display: inline-block;
  transition: transform 0.5s;
}
.social-icons a:hover{
  color: var(--third-color);
  transform: translateY(-5px);
}
.btnn {
  display: inline-block;
}
.btn.btn2{
  color: #fff;
  display: flex;
  align-items: center;
  background: #1E48B0;
}
.contact-right form{
  width: 100%;
}
form input, form textarea{
  width: 100%;
  border: 0;
  outline: none;
  background: var(--eight-color);
  padding: 15px;
  margin: 15px 0;
  color: var(--third-color);
  font-size: 18px;
  border-radius: 6px ;
}
form .btn2{
  padding: 14px 60px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
}

/*----------COPYRIGHT----------*/
#copyright{
  width: 100%;
  text-align: center;
  padding: 25px 0;
  background: var(--seventh-color);
  font-weight: 300;
  margin-top: 70px;
}
.copyright p{
  color: #fff;
}
.copyright p i{
  color: #6185FE;
}
/*----------css for small screen----------*/
nav .fa-solid{
  display: none;
}

@media only screen and (max-width: 1000px){
  #header{
      background-image: url(phone.jpg);
  }
  .header-text{
      margin-top: 100%;
      font-size: 32px;
  }
  .header-text h1{
      font-size: 50px;
  }
  .header-text h1 span{
      text-shadow: 0 0 20px 10px #45a6ed, 0 0 40px 20px #45a6ed;
  }
  .icons2 a{
      text-shadow: 0 0 20px 10px #45a6ed, 0 0 40px 20px #45a6ed;
      font-size: 50px;
  }
  nav{
      padding: 60px 10%;
  }
  nav .fa-solid{
      color: #fff;
      display: block;
      font-size: 30px;
  }
  nav ul{
      background: #6185FE;
      position: fixed;
      top: 0;
      right: -400px;
      width: 400px;
      height: 100vh;
      padding-top: 50px;
      z-index: 2;
      transition: right 0.5s;
  }
  nav ul li{
      display: block;
      margin: 50px;
  }
  nav ul li a{
      font-size: 30px;
  }
  nav ul .fa-solid{
      position: absolute;
      top: 25px;
      left: 25px;
      cursor: pointer;
  }
  nav ul li a::after{
      background: #083a6b;
  }
  .logo{
      transform: scale(1.5); /* makes the image 50% larger */
      object-fit: cover; /* fills the container while preserving aspect ratio */
  }
  .about-col-1, .about-col-2{
      flex-basis: 100%;
  }
  .about-col-1{
      margin-bottom: 30px;
  }
  .about-col-2 p{
      line-height: 1.2;
      font-size: 35px;
  }
  .tab-titles{
      display: flex;
      margin: 70px 0 90px;
  }
  .tab-titles p{
      font-size: 35px;
  }
  .tab-contents ul li{
      font-size: 35px;
      margin: 30px 0;
      line-height: 1.25;
  }
  .tab-contents ul li span{
      font-size: 35px;
  }
  .container .sub-title{
      font-size: 50px;
  }
  .services-list{
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
      grid-gap: 40px;
  }
  .services-list div h2{
      font-size: 35px;
      
  }
  .services-list div p{
      line-height: 1;
      font-size: 22px;
  }
  .services-list div a{
      font-size: 30px;
  }
  .services-list div i{
      font-size: 80px;
  }
      
  .work-list{
      grid-template-columns: repeat(auto-fit, minmax(390px, 1fr));
  }
  .layer{
      font-size: 30px;
  }
  .layer a{
      line-height: 80px;
      font-size: 30px;
      width: 80px;
      height: 80px;
  }
  .btn{
      flex-basis: 100%;
      font-size: 14px;
      padding: 30px 90px;
      border-radius: 12px;
      }
  .contact-left, .contact-right{
      flex-basis: 100%;
  }
  .contact-left{
      line-height: 1.25;
  }
  .contact-left p{
      font-size: 30px;
  }
  .contact-left p i{
      margin-right: 20px;
      font-size: 40px;
  }
  .social-icons a{
      font-size: 50px;
  }
  .btnn a{
      font-size: 30px;
  }
  .btnn i{
      font-size: 50px;
  }
  form input, form textarea{
      width: 100%;
      border: 0;
      outline: none;
      padding: 40px;
      margin: 20px 0;
      color: var(--third-color);
      font-size: 40px;
      border-radius: 10px ;
  }
  form .btn2{
      padding: 30px 80px;
      font-size: 35px;
      margin-top: 20px;
      cursor: pointer;
  }
  #copyright{
      padding: 15px 10%;
      margin-top: 100px;
  }
  .copyright p{
      font-size: 30px;
  }
  .copyright p i{
      font-size: 30px;
  }
  #msg{
      font-size: 30px;
  }

}
#msg{
  color: #f22ae6;
  margin-top:-40px;
  display: block;
}